<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor  <span highlight>sit amet consectetur, adipisicing elit.</span> Beatae soluta eius labore nesciunt fugiat omnis! Necessitatibus rem inventore est, tempore aspernatur deleniti quo vel cum, neque odio facere suscipit sapiente.</p>
  <p class="text-xs">Número de clientes @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"/>
  }</p>
  <div>
    <app-wave-audio audioUrl="assets/trap.mp3"/>
  </div>
</div>
